In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("treedata.csv")

Penjelasan data kolom dapat dilihat di : https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh

In [3]:
data.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [4]:
#convert data type
data = data.convert_dtypes()
data["created_at"] = pd.to_datetime(data["created_at"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 45 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tree_id           683788 non-null  Int64
 1   block_id          683788 non-null  Int64
 2   created_at        683788 non-null  datetime64[ns]
 3   tree_dbh          683788 non-null  Int64
 4   stump_diam        683788 non-null  Int64
 5   curb_loc          683788 non-null  string
 6   status            683788 non-null  string
 7   health            652172 non-null  string
 8   spc_latin         652169 non-null  string
 9   spc_common        652169 non-null  string
 10  steward           652173 non-null  string
 11  guards            652172 non-null  string
 12  sidewalk          652172 non-null  string
 13  user_type         683788 non-null  string
 14  problems          652124 non-null  string
 15  root_stone        683788 non-null  string
 16  root_grate        683788 non-null  string
 17  root_other        683788 non-null  string
 18  trunk_wire        683788 non-null  string
 19  trnk_light        683788 non-null  string
 20  trnk_other        683788 non-null  string
 21  brch_light        683788 non-null  string
 22  brch_shoe         683788 non-null  string
 23  brch_other        683788 non-null  string
 24  address           683788 non-null  string
 25  postcode          683788 non-null  Int64
 26  zip_city          683788 non-null  string
 27  community board   683788 non-null  Int64
 28  borocode          683788 non-null  Int64
 29  borough           683788 non-null  string
 30  cncldist          683788 non-null  Int64
 31  st_assem          683788 non-null  Int64
 32  st_senate         683788 non-null  Int64
 33  nta               683788 non-null  string
 34  nta_name          683788 non-null  string
 35  boro_ct           683788 non-null  Int64
 36  state             683788 non-null  string
 37  latitude          683788 non-null  Float64
 38  longitude         683788 non-null  Float64
 39  x_sp              683788 non-null  Float64
 40  y_sp              683788 non-null  Float64
 41  council district  677269 non-null  Int64
 42  census tract      677269 non-null  Int64
 43  bin               674229 non-null  Int64
 44  bbl               674229 non-null  Float64
dtypes: Float64(5), Int64(14), datetime64[ns](1), string(25)
memory usage: 247.2 MB

In [5]:
#check apakah tree_id benar2 unik
len(data["tree_id"].unique()) == len(data)

True

In [6]:
#Nilai tree_dbh dan stump_diam tidak boleh sama2 ada angka, salah satu harus 0 atau 2 2 nya 0, baca keterangan kolom untuk penjelasan.
data.loc[((data["stump_diam"] != 0) & (data["tree_dbh"] != 0)).to_numpy()]

Empty DataFrame
Columns: [tree_id, block_id, created_at, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trunk_wire, trnk_light, trnk_other, brch_light, brch_shoe, brch_other, address, postcode, zip_city, community board, borocode, borough, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, state, latitude, longitude, x_sp, y_sp, council district, census tract, bin, bbl]
Index: []

[0 rows x 45 columns]

In [7]:
#check data validation apakah ada typo.
data["curb_loc"].value_counts()

OnCurb            656896
OffsetFromCurb     26892
Name: curb_loc, dtype: Int64

In [8]:
#check data validation apakah ada typo.
data["status"].value_counts()

Alive    652173
Stump     17654
Dead      13961
Name: status, dtype: Int64

In [9]:
#membuang kolom yang tidak diperlukan, kita akan membuang kolom yang tidak diperlukan dan kolom semua detail lokasi dan memakai kolom "borough" saja
data.drop(data.loc[:,"cncldist":], axis=1,inplace=True)
data.drop(data.loc[:,"address":"community board"], axis=1, inplace=True)
data

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other,borocode,borough
0,180683,348711,2015-08-27,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,No,No,No,No,No,No,No,No,4,Queens
1,200540,315986,2015-09-03,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,No,No,No,No,No,No,No,No,4,Queens
2,204026,218365,2015-09-05,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,No,No,No,No,No,No,No,No,3,Brooklyn
3,204337,217969,2015-09-05,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,No,No,No,No,No,No,No,No,3,Brooklyn
4,189565,223043,2015-08-30,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,No,No,No,No,No,No,No,No,3,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,155433,217978,2015-08-18,25,0,OnCurb,Alive,Good,Quercus palustris,pin oak,...,No,No,No,No,No,No,No,No,3,Brooklyn
683784,183795,348185,2015-08-29,7,0,OnCurb,Alive,Good,Cladrastis kentukea,Kentucky yellowwood,...,No,No,No,No,No,No,No,No,4,Queens
683785,166161,401670,2015-08-22,12,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,No,No,No,No,No,No,No,No,5,Staten Island
683786,184028,504204,2015-08-29,9,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,No,No,No,No,No,No,No,No,2,Bronx
683787,200607,306527,2015-09-03,23,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,No,No,No,No,No,No,No,No,4,Queens

In [10]:
#checking apakah ada nilai null
data.isna().sum()

tree_id           0
block_id          0
created_at        0
tree_dbh          0
stump_diam        0
curb_loc          0
status            0
health        31616
spc_latin     31619
spc_common    31619
steward       31615
guards        31616
sidewalk      31616
user_type         0
problems      31664
root_stone        0
root_grate        0
root_other        0
trunk_wire        0
trnk_light        0
trnk_other        0
brch_light        0
brch_shoe         0
brch_other        0
borocode          0
borough           0
dtype: int64

In [11]:
#kebanyakan null values dari status tree "stump" ataupun "dead"
data.loc[(data['health'].isna()).to_numpy()].head(10)

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other,borocode,borough
37,211205,302080,2015-09-09,0,16,OnCurb,Stump,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,4,Queens
57,187807,506266,2015-08-29,0,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,2,Bronx
196,208322,222858,2015-09-07,10,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,3,Brooklyn
209,209058,415850,2015-09-08,6,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,5,Staten Island
239,203597,301947,2015-09-04,0,15,OnCurb,Stump,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,4,Queens
266,210544,216081,2015-09-08,6,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,3,Brooklyn
285,188609,107627,2015-08-30,9,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,1,Manhattan
430,189412,108374,2015-08-30,7,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,1,Manhattan
438,189526,223109,2015-08-30,4,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,3,Brooklyn
591,179748,348463,2015-08-27,20,0,OnCurb,Dead,<NA>,<NA>,<NA>,...,No,No,No,No,No,No,No,No,4,Queens

In [12]:
#replace null value dengan "not alive"
data.fillna("NotAlive", inplace=True)

In [13]:
data["problems"].value_counts()

None                                                 426280
Stones                                                95673
NotAlive                                              31664
BranchLights                                          29452
Stones,BranchLights                                   17808
                                                      ...
Stones,MetalGrates,WiresRope,TrunkLights,Trunk...         1
WiresRope,BranchLights,Sneakers                           1
MetalGrates,WiresRope,TrunkLights                         1
Stones,RootOther,TrunkLights,TrunkOther,Branch...         1
MetalGrates,TrunkOther,Sneakers                           1
Name: problems, Length: 233, dtype: Int64

In [14]:
#menghitung jumlah masalah dari satu pohon
data["ProblemsCount"] = data.apply(lambda x: (x.loc["root_stone":"brch_other"] == "Yes").sum(), axis=1)

In [15]:
#mengecek konsistensi data
data.groupby('health')['ProblemsCount'].agg('mean')

health
Fair        0.643590
Good        0.429993
NotAlive    0.000000
Poor        0.684428
Name: ProblemsCount, dtype: float64

Untuk memastikan konsistensi data, semakin bagus kesehatan pohon maka semakin rendah angka jumlah masalah.

In [16]:
data.groupby(['curb_loc','status'])['ProblemsCount'].agg('mean')

curb_loc        status
OffsetFromCurb  Alive     0.323942
                Dead      0.000000
                Stump     0.000000
OnCurb          Alive     0.478181
                Dead      0.000000
                Stump     0.000000
Name: ProblemsCount, dtype: float64

bisa dilihat bahwa pohon yang berdiri diatas trotoar juga memiliki lebih banyak masalah dari pohon yang tidak berada ditrotoar. Note: tahap ini termasuk tahap data analisis dan bukan data validation dikarenakan tidak ada jaminan bahwa pohon yang berada ditrotoar selalu memiliki masalah lebih banyak dari yang tidak berada ditrotoar.